/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

@font-face {
	font-family: 'modernesans';
	src: url('modernesans.ttf');
}

header {
	clear:both;
	margin-top: 5%;
	margin-left: 15%;
	width:8%;
	float:left;
}

#top-menu {
	width:50%;
	margin-top: 9%;
	margin-left: 3%;
	float:left;
}

#top-menu ul li  {
	display:inline;
	padding:7%;
	font-family: sans-serif;

}

#sticky
{position:fixed;
	width:100%;
	background-color:white;
	z-index:100;
}

#sticky-wrapper {
	height:150px;
	background-color:white;
}
#top-menu a {
	text-decoration: none;
	font-family: 'modernesans';
	color: #8FBC8F;

}

nav ul li a:hover {
	border-bottom:2px solid #8FBC8F;
}


.buttons {
	width:20%;
	top:20px;
	right:1%;
	background-color:white;
	position:absolute;
}

#hambuger img {display:none;}

#sticky .buttons h2{
	float:left;
	padding:3%;
}

#artwork {
	padding-top: 5%;
	padding-left: 10%;
	margin-top:5%;
	clear:both;
}

#content {
	padding-top: 5%;
	padding-left: 10%;
	margin-top:5%;
	clear:both;
}

@mediascreen 
#hamburger img {
	height:30px;
	display:block;
}

#hamburger {
	height:150px;
}

#hamburger:hover ul {
	display:block;
}

#artwork img {
	float:left;
	width:80%;
}

#artwork img:hover{
	opacity:0.6;
	background-color:black;
}

#project {
	padding-top: 15%;
	padding-left: 10%;
	margin-top:5%;
	float: right;
}

#text {
	float: left;
	position: fixed;
	width: 22%;
	padding-top:15%;
	padding-left:15%;
}

@media only screen and (max-device-width: 350px) {

	}


