/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

@font-face {
	font-family: 'modernesans';
	src: url('modernesans.ttf');
}

header {
	clear:both;
	margin-top: 50px;
	margin-left: 15%;
	float:left;
}

#top-menu {
	width:50%;
	margin-top: 90px;
	margin-left: 9px;
	float:left;

}

#top-menu ul li  {
	display:inline;
	padding:7%;
	font-family: sans-serif;
	padding-bottom:10%;
	padding-top:10%;
	

}

#sticky
{position:fixed;
	width:100%;
	background-color:white;
	z-index:100;
	padding-bottom:15px;
	height:165px;
}

#sticky-wrapper {
	height:150px;
	background-color:white;
}
#top-menu a {
	text-decoration: none;
	font-family: 'modernesans';
	color: #8FBC8F;

}

nav ul li a:hover {
	border-bottom:1px solid #8FBC8F;
}


.buttons {
	width:20%;
	top:20px;
	right:1%;
	background-color:white;
	position:absolute;
}

#sticky .buttons h2{
	float:left;
	padding:3%;
}

header img{
	padding-bottom:4px;
	}

#artwork {
	margin:0 auto;
	width:90%;
	padding-top: 30px;
	padding-left: 9%;
	clear:both;
}

#content {
	padding-top: 5%;
	padding-left: 10%;
	margin-top:5%;
	clear:both;
}

#artwork img {
	float:left;
	width:30%;
}

#artwork img:hover{
	opacity:0.6;
}

#project {
	padding-top: 30px;
	padding-left: 10%;
	float: left;
	width:50%;
}

#projectinfo {
	float:right;
	width: 20%;
	margin-right:10%;
}

#projectinfo p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing:1px;
	padding-bottom:10px;
}

#text {
	position: fixed;
	width: 20%;
	padding-top:32px;
}

#resume {
	position: fixed;
	width: 20%;
	padding-top:235px;
}

h3 {
	font-family: 'modernesans';
	color: #8FBC8F;
	font-size:2em;
	text-transform:uppercase;
	padding-bottom:7px;
}

#project img {
	width:100%;
}

#resume img {
	width:50px;
}

#resume h4 {
	padding-top:8px;
}

#mail img {
	width:60px;
}

#mail {
	position: fixed;
	width: 20%;
	padding-top:243px;
	padding-left:10%;
}

#mail a {
	text-decoration:none;
	color:black;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size:.8em;
}

#resume a {
	text-decoration:none;
	color:black;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size:.8em;
}

h5 {
	padding-top:7px;
	color:black;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size:.8em;
}

@media screen and (max-width:900px) {
	#artwork img{
		width:45%;
		}
		
	
	
	#projectinfo {
		clear:both;
		width: 90%;
		position:relative;
		margin-left:10%;
		margin-right:0%;
	}
	
	#text {
		width:80%;
		position:relative;
	}
	
	#project {

		padding-left: 10%;
		clear:both;
		width:80%;
	}
	

}

@media screen and (max-width:600px) {
	#artwork img{
		width:90%;
		}
	h3 {	
		font-size:1.6em;
		}
		
		#sticky .buttons {
			display:none;
		}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait){
	
}






